@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@model Sales_Report.Areas.Identity.Data.SalesTransaction
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <h1>Create New Transaction Record</h1>
    <hr/>
    <div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" class="form-inline">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-floating mb-3 mt-2">
                <input asp-for="SalesItem" placeholder="SalesItem" class="form-control" />
                <label asp-for="SalesItem" class="form-label"></label>
                <span asp-validation-for="SalesItem" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 mt-2">
                <input asp-for="SalesAmount" placeholder="Amount" type="number" min="0" class="form-control" />
                <label asp-for="SalesAmount" class="form-label"></label>
                <span asp-validation-for="SalesAmount" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 mt-2">
                <input asp-for="SalesDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                <label asp-for="SalesDate"></label>
                <span asp-validation-for="SalesDate" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 mt-2">
                <input asp-for="UserId" value="@UserManager.GetUserId(User)" class="form-control" readonly />
                <label asp-for="UserId" class="form-label"></label>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <a asp-controller="SalesTransaction" asp-action="Index">Back to list</a>
            </div>
        </form>

    </div>

    </div>
@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}